@media screen and (min-width: 750px) {
    section.primary {
        float: left;
        width: 49%;
    }
    section.secondary {
        float: right;
        width: 49%;
    }
    section.tertiary {
        clear: both;
    }
}
@media screen and (min-width: 500px) {
    section.primary, section.secondary {
        clear: both;
    }
}