body {
    background-color: rgb(148, 140, 98);
}
fieldset {
    background-color: rgb(25, 11, 235);
    color: white;
    margin: 5px;
    padding: 15px;
}
legend {
    background-color: rgba(221, 8, 210, 0.795);
    color: white;
    font-size: larger;
}
label {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 160px;
}
